In [6]:
import pandas as pd

In [10]:
import os
print(os.getcwd())

c:\Users\ead\Desktop\BRENDA_EV\Semana_Datascience\dataset

In [14]:
url = "c:/Users/ead/Desktop/BRENDA_EV/Semana_Datascience/dataset/saudemental.csv"
pd.read_csv(url)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [15]:
print(type(url))

<class 'str'>

In [16]:
pd.read_csv(url,sep=";")

    Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0    8/7/2020 12:02,Female,18,Engineering,year 1,3....
1    8/7/2020 12:04,Male,21,Islamic education,year ...
2    8/7/2020 12:05,Male,19,BIT,Year 1,3.00 - 3.49,...
3    8/7/2020 12:06,Female,22,Laws,year 3,3.00 - 3....
4    8/7/2020 12:13,Male,23,Mathemathics,year 4,3.0...
..                                                 ...
96   13/07/2020 19:56:49,Female,21,BCS,year 1,3.50 ...
97   13/07/2020 21:21:42,Male,18,Engineering,Year 2...
98   13/07/2020 21:22:56,Female,19,Nursing ,Year 3,...
99   13/07/2020 21:23:57,Female,23,Pendidikan Islam...
100  18/07/2020 20:16:21,Male,20,Biomedical science...

[101 rows x 1 columns]

In [17]:
dados = pd.read_csv(url,sep=";")
dados

    Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0    8/7/2020 12:02,Female,18,Engineering,year 1,3....
1    8/7/2020 12:04,Male,21,Islamic education,year ...
2    8/7/2020 12:05,Male,19,BIT,Year 1,3.00 - 3.49,...
3    8/7/2020 12:06,Female,22,Laws,year 3,3.00 - 3....
4    8/7/2020 12:13,Male,23,Mathemathics,year 4,3.0...
..                                                 ...
96   13/07/2020 19:56:49,Female,21,BCS,year 1,3.50 ...
97   13/07/2020 21:21:42,Male,18,Engineering,Year 2...
98   13/07/2020 21:22:56,Female,19,Nursing ,Year 3,...
99   13/07/2020 21:23:57,Female,23,Pendidikan Islam...
100  18/07/2020 20:16:21,Male,20,Biomedical science...

[101 rows x 1 columns]

In [18]:
dados.head()

  Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0  8/7/2020 12:02,Female,18,Engineering,year 1,3....
1  8/7/2020 12:04,Male,21,Islamic education,year ...
2  8/7/2020 12:05,Male,19,BIT,Year 1,3.00 - 3.49,...
3  8/7/2020 12:06,Female,22,Laws,year 3,3.00 - 3....
4  8/7/2020 12:13,Male,23,Mathemathics,year 4,3.0...

In [19]:
dados.head(15)

   Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0   8/7/2020 12:02,Female,18,Engineering,year 1,3....
1   8/7/2020 12:04,Male,21,Islamic education,year ...
2   8/7/2020 12:05,Male,19,BIT,Year 1,3.00 - 3.49,...
3   8/7/2020 12:06,Female,22,Laws,year 3,3.00 - 3....
4   8/7/2020 12:13,Male,23,Mathemathics,year 4,3.0...
5   8/7/2020 12:31,Male,19,Engineering,Year 2,3.50...
6   8/7/2020 12:32,Female,23,Pendidikan islam,year...
7   8/7/2020 12:33,Female,18,BCS,year 1,3.50 - 4.0...
8   8/7/2020 12:35,Female,19,Human Resources,Year ...
9   8/7/2020 12:39,Male,18,Irkhs,year 1,3.50 - 4.0...
10  8/7/2020 12:39,Female,20,Psychology,year 1,3.5...
11  8/7/2020 12:39,Female,24,Engineering,Year 3,3....
12  8/7/2020 12:40,Female,18,BCS,year 1,3.00 - 3.4...
13  8/7/2020 12:41,Male,19,Engineering,year 1,3.00...
14  8/7/2020 12:43,Female,18,KENMS,Year 2,3.50 - 4...

In [20]:
dados.tail()

    Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96   13/07/2020 19:56:49,Female,21,BCS,year 1,3.50 ...
97   13/07/2020 21:21:42,Male,18,Engineering,Year 2...
98   13/07/2020 21:22:56,Female,19,Nursing ,Year 3,...
99   13/07/2020 21:23:57,Female,23,Pendidikan Islam...
100  18/07/2020 20:16:21,Male,20,Biomedical science...

In [21]:
dados.tail(20)

    Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
81   13/07/2020 10:12:18,Female,24,Diploma Nursing,...
82   13/07/2020 10:12:26,Female,19,Engineering,year...
83   13/07/2020 10:12:28,Female,19,Pendidikan Islam...
84   13/07/2020 10:14:46,Male,23,Radiography,year 1...
85   13/07/2020 10:33:47,Female,18,psychology,year ...
86   13/07/2020 10:34:08,Female,19,Fiqh fatwa ,Year...
87   13/07/2020 11:46:13,Female,18,psychology,year ...
88   13/07/2020 11:49:02,Male,24,BIT,year 1,3.00 - ...
89   13/07/2020 11:54:58,Male,24,Engineering,Year 2...
90   13/07/2020 13:57:11,Female,23,DIPLOMA TESL,Yea...
91   13/07/2020 14:38:12,Male,18,Koe,Year 2,3.00 - ...
92   13/07/2020 14:48:05,Female,19,KOE,year 2,3.00 ...
93   13/07/2020 16:15:13,Female,18,BENL,year 1,3.00...
94   13/07/2020 17:30:44,Female,24,Fiqh,Year 3,0 - ...
95   13/07/2020 19:08:32,Female,18,Islamic Educatio...
96   13/07/2020 19:56:49,Female,21,BCS,year 1,3.50 ...
97   13/07/2020 21:21:42,Male,18,Engineering,Year 2...
98   13/07/2020 21:22:56,Female,19,Nursing ,Year 3,...
99   13/07/2020 21:23:57,Female,23,Pendidikan Islam...
100  18/07/2020 20:16:21,Male,20,Biomedical science...

In [22]:
type(dados)

pandas.core.frame.DataFrame